*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  width: 300px;
  height:200px;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  gap:10px;
  flex-direction: column;
}

.line-through{
  text-decoration:line-through;
}
